html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Lato","HelveticaNeue-Regular","HelveticaNeue Regular","Helvetica Neue","Helvetica",Arial,"Lucida Grande",sans-serif;
/*color: #8e0280;*/
}
