html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Lato","HelveticaNeue-Regular","HelveticaNeue Regular","Helvetica Neue","Helvetica",Arial,"Lucida Grande",sans-serif;
}

table {
  border-spacing: 0px;
  border: 1px solid gray;
}

.pagination {
  position: absolute;
  bottom: 2rem;
  left: 40vw;
}